In [1]:
import numpy as np
import pandas as pd

## Items

In [2]:
df_items = pd.read_csv("items.csv", sep=";")

In [3]:
df_items.shape

(309128, 16)

In [4]:
df_items.duplicated().sum()

0

In [5]:
df_items.head()

,item_code,item_name,style,brand_id,name,group0_id,group0,group1_id,group1,group2_id,group2,category,gender,age,color,size
0,ZB00210807,Studio Metallic LS Top,51951501,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,fitness,women,adults,Black,L
1,ZB00210813,TRAIN TECH EVOKNIT SS TEE,52011101,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Black,S
2,ZB00210815,TRAIN TECH EVOKNIT SS TEE,52011123,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Orange,L
3,ZB00210821,TRAIN TECH EVOKNIT SS TEE,52011130,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Yellow,XL
4,ZB00261295,LIGA Baselayer Tee LS,655920-027,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,football,men,adults,Green,L

In [6]:
#% missing for each column
round(df_items.isna().sum()/df_items.shape[0],4)

item_code    0.0000
item_name    0.0101
style        0.0220
brand_id     0.0000
name         0.0000
group0_id    0.0001
group0       0.0027
group1_id    0.0240
group1       0.1416
group2_id    0.0240
group2       0.7678
category     0.1289
gender       0.0242
age          0.0245
color        0.1475
size         0.0260
dtype: float64

In [7]:
#checking if any missing values on group1 could be filled using group1_id (The answer is no)
df_items[["group1_id","group1"]][df_items["group1"].isna()].drop_duplicates().sort_values("group1_id")

      group1_id group1
29          0.0    NaN
1410        NaN    NaN

In [8]:
# group1 seems to be an interesting group

In [9]:
#Proportion on each category of group0
round(df_items["group0"].value_counts()/df_items.shape[0],2)

Footwear     0.49
Apparel      0.44
Equipment    0.04
Other        0.02
Nutrition    0.00
Services     0.00
Name: group0, dtype: float64

In [10]:
#Proportion on each category of group1
round(df_items["group1"].value_counts()/df_items.shape[0],3)

Running shoes      0.149
Football shoes     0.131
T-Shirts           0.128
Other Footwear     0.114
Pants              0.095
Sweatshirts        0.052
Jackets            0.036
Jerseys            0.028
Fitness Shoes      0.024
Socks              0.022
Gloves             0.015
Bras               0.011
Slides             0.007
Tracksuits         0.006
Guards             0.005
Underwear          0.004
Other Apparel      0.004
Balls              0.004
Caps               0.004
Backpacks          0.003
Bags               0.003
Vests              0.002
Other Equipment    0.002
Beanies            0.002
Training           0.001
Glasses            0.001
Skirts             0.001
Gymsacks           0.001
Sporttesters       0.001
Dress              0.001
Hydrate            0.000
Lamps              0.000
Sports gloves      0.000
Other              0.000
Other nutrition    0.000
Earphones          0.000
Bar                0.000
Tank               0.000
Pumps              0.000
Football socks     0.000
Name: group1, dtype: float64

In [11]:
#Proportion on each category group2
round(df_items["group2"].value_counts()/df_items.shape[0],3)

Shorts                     0.053
With hood                  0.035
Trail                      0.029
Longsleeved (LS) shirts    0.026
Indoor/Court (IC)          0.020
Tank                       0.019
Spikes                     0.016
Football gloves            0.012
Football socks             0.008
Polo                       0.006
Compression shirts         0.003
43924                      0.002
Compression pants          0.002
Sleeveless (SL) shirts     0.001
Fitness gloves             0.000
Name: group2, dtype: float64

In [12]:
#Proportion on each category (category column)
round(df_items["category"].value_counts()/df_items.shape[0],2)

football     0.45
running      0.23
fitness      0.12
lifestyle    0.07
Name: category, dtype: float64

## Orders

In [13]:
df_orders = pd.read_csv("orders.csv", sep=";")

In [14]:
df_orders.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt
0,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S101,1,NaN,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
1,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S113,1,NaN,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
2,2000093388,2020-04-24 00:00:00,COD,ZB00089178,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
3,2000093388,2020-04-24 00:00:00,COD,ZB00138060,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
4,2000093388,2020-04-24 00:00:00,COD,ZB00015664,1,NaN,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00

In [15]:
df_orders.shape

(2128524, 14)

In [16]:
df_orders.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'department',
       'channel', 'owner', 'site', 'CreatedAt'],
      dtype='object')

In [17]:
#% missing for each column
round(df_orders.isna().sum()/df_orders.shape[0],4)

order_id               0.0000
date                   0.0000
payment                0.0003
item_code              0.0000
quantity               0.0000
gift_quantity          0.9951
unit_price_vat_excl    0.0000
unit_cogs              0.0000
unit_rrp_vat_excl      0.0000
department             0.0000
channel                0.0000
owner                  0.0000
site                   0.0000
CreatedAt              0.0000
dtype: float64

In [18]:
#proportion of items sold in each site
round(df_orders["site"].value_counts()/df_orders.shape[0],3).head(20)

11teamsports.cz    0.183
11teamsports.sk    0.097
top4running.cz     0.096
11teamsports.ro    0.095
11teamsports.hu    0.083
top4running.sk     0.048
top4running.de     0.040
top4running.hu     0.036
top4running.es     0.031
top4fitness.cz     0.024
top4sport.cz       0.023
top4fitness.sk     0.021
top4running.fr     0.021
top4running.ro     0.021
11teamsports.es    0.017
top4fitness.hu     0.013
11teamsports.hr    0.012
top4fitness.ro     0.012
top4running.it     0.012
top4football.fr    0.011
Name: site, dtype: float64

In [19]:
#Proportion of observation with "other" site
df_orders[df_orders["site"] == "other"].shape[0]/df_orders.shape[0]

3.38262570682783e-05

In [20]:
def prepareT4Sdata(df_items, df_orders, columns_to_keep):
    """
    Create the country column, merge both tables (items and into 1
    """
    df_orders['site'] = df_orders['site'].replace({'other': 'other.other'})
    df_orders["country"] = [x.split(".")[1] for x in df_orders["site"]] #getting country and remaping it
    df_orders["country"] = df_orders["country"].map({'cz':'Czech Republic', 'sk':'Slovakia', 'ro':'Romania', 'hu':'Hungary', 'de':'Germany', 'es':'Spain', 'hr': 'Croatia', 'fr':'France', 'it': 'Italy','at':'Austria', "other":"Other"})
    df_orders["type"] = [x.split(".")[0] for x in df_orders["channel"]]
    df_orders.drop(columns = ["gift_quantity"], axis = 1) #gift_quantity is missing for the vast majority so I will drop it
    df_orders = df_orders[df_orders["unit_price_vat_excl"] > 2] 
    df_items["group0"] = df_items["group0"].apply(str)
    df_items["group1"] = df_items["group1"].apply(str)
    df_items["group2"] = df_items["group2"].apply(str)
    
    df = pd.merge(df_orders, df_items, on='item_code')
    return df[columns_to_keep]

In [21]:
columns_to_keep = ["order_id", "date", "item_code", "unit_price_vat_excl", "quantity", "department", "item_name", "name", "group1", "country"]
df = prepareT4Sdata(df_items, df_orders, columns_to_keep)

In [22]:
df = df[df.date != max(df.date)] #last day seems to have incomplete data

In [23]:
df.head()

,order_id,date,item_code,unit_price_vat_excl,quantity,department,item_name,name,group1,country
0,2000093387,2020-04-24 00:00:00,S101,3.506048,1,E-COMMER,Dopravné,- žádný výrobce -,nan,Hungary
1,2000093391,2020-04-24 00:00:00,S101,3.737403,1,E-COMMER,Dopravné,- žádný výrobce -,nan,Slovakia
2,2000093394,2020-04-24 00:00:00,S101,3.171318,1,E-COMMER,Dopravné,- žádný výrobce -,nan,Czech Republic
3,2000093395,2020-04-24 00:00:00,S101,2.850775,1,E-COMMER,Dopravné,- žádný výrobce -,nan,Czech Republic
4,2000093400,2020-04-24 00:00:00,S101,3.336224,1,E-COMMER,Dopravné,- žádný výrobce -,nan,Romania

In [24]:
round(df_orders["type"].value_counts()/df_orders.shape[0],3)

FTB         0.384
RUN         0.340
11TS        0.143
FIT         0.097
Sport       0.015
STR         0.010
T4S         0.010
TINT        0.001
ECOMothC    0.000
idealo      0.000
Name: type, dtype: float64

In [25]:
df.to_csv("item_orders.csv", index = False)