In [2]:
import streamlit as st
import pandas as pd
import numpy as np
from millify import millify
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import matplotlib.pyplot as plt

2022-01-25 21:04:38.063 INFO    numexpr.utils: Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2022-01-25 21:04:38.064 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [4]:
df = pd.read_csv("df_output_predictions_tuned_2.csv", index_col = "Unnamed: 0")
df_metrics = pd.read_csv("/home/joaolrossi/Desktop/LightHouseLabs/data_bootcamp/Final_Project/Data/df_metrics_tuned_2.csv", index_col = "Unnamed: 0")

In [3]:
df.head(70)

,ds,yhat,yhat_lower,yhat_upper,y,item,country
0,2019-06-01,30.444337,4.092993,52.469448,3.0,Running shoes,Czech Republic
1,2019-06-03,50.872299,26.499444,75.950752,2.0,Running shoes,Czech Republic
2,2019-06-04,44.570893,19.572739,68.330025,71.0,Running shoes,Czech Republic
3,2019-06-05,40.891288,15.760528,64.820865,69.0,Running shoes,Czech Republic
4,2019-06-06,34.193648,8.313032,58.286995,21.0,Running shoes,Czech Republic
...,...,...,...,...,...,...,...
65,2019-08-10,16.316958,-8.937168,41.414831,18.0,Running shoes,Czech Republic
66,2019-08-11,31.500416,7.511425,53.870652,28.0,Running shoes,Czech Republic
67,2019-08-12,38.246013,14.024883,62.331487,66.0,Running shoes,Czech Republic
68,2019-08-13,32.815249,9.185071,56.838368,35.0,Running shoes,Czech Republic
69,2019-08-14,30.082928,6.085702,55.331232,33.0,Running shoes,Czech Republic

In [4]:
df.shape

(92040, 7)

In [32]:
select_item = "Pants"
select_country = "Czech Republic"

In [34]:
df_temp = df[(df['item'] == select_item) & (df['country'] == select_country)]
df_metrics = df_metrics[(df_metrics['product'] == select_item) & (df_metrics['country'] == select_country)]

In [44]:
df_metrics

,product,country,mape_baseline,mape_best,tomorrow,next_week,next_month,day_increase,week_increase,month_increase
1,Pants,Czech Republic,0.33,0.32,54.051256,368.0,1600.0,-11%,-13%,-28%

In [43]:
df_metrics.tomorrow.values[0]

54.05125618358416

In [16]:
float(df_metrics.tomorrow[0].split("    ")[0])

961.0

In [17]:
df_metrics.tomorrow[0].split("    ")

['961', '44.854848\nName: yhat, dtype: float64']

In [5]:
df_metrics.describe()

       mape_baseline   mape_best     tomorrow     next_week    next_month
count     102.000000  102.000000   102.000000    102.000000    102.000000
mean        0.867647    0.650588    92.374995    488.970588   2280.000000
std         0.699283    0.463443   321.294476   1677.543557   7815.959543
min         0.210000    0.160000    -0.061769     -2.000000    -26.000000
25%         0.390000    0.342500     7.626814     40.000000    192.250000
50%         0.700000    0.560000    16.487816     90.500000    425.500000
75%         0.985000    0.730000    46.931874    268.000000   1239.000000
max         3.690000    2.640000  3108.898573  16201.000000  75281.000000

In [6]:
from scipy import stats

In [7]:
stats.ttest_rel(df_metrics['mape_baseline'], df_metrics['mape_best'])

Ttest_relResult(statistic=6.127462300400767, pvalue=1.734964288075838e-08)